@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    min-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    --tw-bg-opacity: 1;
    background-color: rgb(12 12 12 / var(--tw-bg-opacity));
}

/* For WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 3.5px;
    /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
    background: #000000;
    /* Background color of the track */
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    /* Color of the thumb */

    /* Rounded corners */
}

/* For Firefox */
/* Note: Firefox does not support styling the scrollbar directly. 
     The below styles will only work if `layout.css.scrollbar-color.enabled` 
     preference is set to true in `about:config` */
/* You may need to add the following rule into your CSS to make Firefox
     accept the scrollbar style */
/* html { scrollbar-color: #ddd #fff; } */


@font-face {
    font-family: roboto;
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: robotomedium;
    src: url('./fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: poetsen;
    src: url('./fonts/Poetsen_One/PoetsenOne-Regular.ttf');
}

/* .NavLink {
    font-family: robotomedium;
} */

.contchild:first-child {
    fill: #ffffff !important;
}

.ani {
    background: linear-gradient(to right, #ffffff 20%, #ff8c00 30%, #ff00ff 50%, #ff8c00 70%, #ffffff 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 200% auto;
    animation: textShine 7s ease-in-out infinite alternate;
}

.homeh {
    height: 105vh;
}

@keyframes textShine {
    to {
        background-position: 200%;
    }
}